svg{
    background-color: white;
    border:3px solid black;
    height: 500px;
    width: 500px;
    display: block;
    background-color: rgb(200,160,100);
}
svg image{
  cursor:pointer;
}
#msg{
  display: block;
}
.casa{

}
.casa_0{
    fill:rgb(100,80,50);
}
.casa_1{
    fill:rgb(200,160,100);
}
.peca{
    fill:rgba(200,160,100,0.5);
}
.vezMinha{
  border:3px solid rgba(0,0,255,0.5);
  background:rgba(0,0,255,0.2);
}
.vezOther{
    border:3px solid rgba(255,0,0,0.5);
    background:rgba(255,0,0,0.2);
}
