
body{
    background-image: url("../../page/img/background.png");
    margin-top: 0;
}

input{
  text-decoration: none;
}
#page{
  position: fixed;
  min-height: 100%;
  padding: 10px;
  width: 800px;
  left:calc( 50% - 400px );
  background-color: rgb(255,255,255);
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#rodape{
  position: fixed;
  padding: 5px;
  bottom: 0;
  margin: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
#rodape:hover{
  display: none;
}
h1,h2{
  text-align: center;
  padding: 0;
  margin: 0;
}
form {
  text-align: center;
}

@media (max-width: 900px) {
  #page{
      width: calc(100% - 20px);
      left:0;
      border:none;
    }
}
@media (max-width: 900px) {
  #page{
      width: calc(100% - 20px);
      left:0;
      border:none;
    }
}
